TTQ_WebServices/CalculatorWebApplication/Connected Services/CalculatorService/TCQ_CalculatorWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TCQ_Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TCQ_AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TCQ_AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TCQ_GetCalculations">
        <s:complexType />
      </s:element>
      <s:element name="TCQ_GetCalculationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TCQ_GetCalculationsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TCQ_AddSoapIn">
    <wsdl:part name="parameters" element="tns:TCQ_Add" />
  </wsdl:message>
  <wsdl:message name="TCQ_AddSoapOut">
    <wsdl:part name="parameters" element="tns:TCQ_AddResponse" />
  </wsdl:message>
  <wsdl:message name="TCQ_GetCalculationsSoapIn">
    <wsdl:part name="parameters" element="tns:TCQ_GetCalculations" />
  </wsdl:message>
  <wsdl:message name="TCQ_GetCalculationsSoapOut">
    <wsdl:part name="parameters" element="tns:TCQ_GetCalculationsResponse" />
  </wsdl:message>
  <wsdl:portType name="TCQ_CalculatorWebServiceSoap">
    <wsdl:operation name="TCQ_Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method adds 2 numbers</wsdl:documentation>
      <wsdl:input message="tns:TCQ_AddSoapIn" />
      <wsdl:output message="tns:TCQ_AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TCQ_GetCalculations">
      <wsdl:input message="tns:TCQ_GetCalculationsSoapIn" />
      <wsdl:output message="tns:TCQ_GetCalculationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCQ_CalculatorWebServiceSoap" type="tns:TCQ_CalculatorWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TCQ_Add">
      <soap:operation soapAction="http://tempuri.org/TCQ_Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TCQ_GetCalculations">
      <soap:operation soapAction="http://tempuri.org/TCQ_GetCalculations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TCQ_CalculatorWebServiceSoap12" type="tns:TCQ_CalculatorWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TCQ_Add">
      <soap12:operation soapAction="http://tempuri.org/TCQ_Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TCQ_GetCalculations">
      <soap12:operation soapAction="http://tempuri.org/TCQ_GetCalculations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCQ_CalculatorWebService">
    <wsdl:port name="TCQ_CalculatorWebServiceSoap" binding="tns:TCQ_CalculatorWebServiceSoap">
      <soap:address location="http://localhost:49621/TCQ_CalculatorWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TCQ_CalculatorWebServiceSoap12" binding="tns:TCQ_CalculatorWebServiceSoap12">
      <soap12:address location="http://localhost:49621/TCQ_CalculatorWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>